/* Import Kodchasan font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Import EB Garamond font */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: 'Kodchasan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f3f4;
}

.hero {
    background-image: url('../img/catalgo_atividades/animais-do-fundo-do-mar-uma-lista-de-bichos-estranhos-e-gigantes.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text {
    background: rgba(146, 146, 146, 0.514);
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

.hero-text h1{
    text-shadow: 1px 2px 3px black;
}

.hero-text p {
    background-color: orangered;
    padding: 10px 40px;
}

main {
    padding: 20px;
}

h2 {
    color: #1f3d44;
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-left: 3rem;
}

h2 > span {
    color: #186B8C;
    margin-right: 5px;
}

.content {
    display: flex;
}

.categorias {
    flex: 1;
    background-color: #d7e8ec;
    padding: 20px;
    border-radius: 10px;
    margin-right: 2rem;
    margin-left: 3rem;
    max-width: 300px;
    max-height: 200px;
}

.categorias h3 {
    margin-top: 0;
    color: #1f3d44;
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias li {
    margin: 10px 0;
    font-size: 1.1em;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.eco-turismo {
    background-color: #3ac2c8;
}

.eco-voluntariado {
    background-color: #2d3e50;
}

.opportunities {
    flex: 2;
    margin-left: 1rem;
}

.opportunity {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: fit-content;
}

.opportunity img {
    width: 200px;
    height: auto;
    object-fit: cover;
}


.info {
    padding: 20px;
    flex: 1;
}


.location-icon {
    max-width: 16px;
    margin-right: 5px;
}

.info h3 {
    margin-top: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    display: inline;
}

.label {
    max-width: 16px;
    margin-left: 10px;
}

.info p {
    margin: 5px 0;
    color: #000000;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    text-wrap: wrap;
    max-width: calc(100% - 100px);
}

.info p:nth-of-type(1){
    font-weight: 500;
}

button {
    background-color: #186B8C;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    box-shadow: 1px 2px 3px rgba(85, 85, 85, 0.733);
}

button:hover {
    background-color: #14434e;
}

.btn-menu {
    box-shadow: none;
}

@media (max-width: 1200px){
    
    .hero-text {
        max-width: calc(100% - 200px);
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }
    
    .content {
        flex-direction: column;
    }

    .categorias{
        margin-bottom: 1rem;
        margin: 10px auto;
        width: 400px;
    }

    .opportunity {
        margin: 20px auto;
        max-width: calc(100% - 200px);
    }
}

@media (max-width: 1020px) {
    .hero-text {
        max-width: calc(100% - 50px);
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1.5rem;
    }
}

@media (max-width: 860px) {
    .hero-text {
        max-width: calc(100% - 100px);
        font-size: 1.5rem;
    }

    .hero-text p{
        font-size: 1.2rem;
    }

    .opportunity {
        flex-direction: column;
    }

    .opportunity img{
        width: auto;
        object-fit: cover;
    }
}


@media (max-width: 630px){
    .hero-text{
        font-size: 1rem;
        max-width: calc(100% - 100px);
    }

    .opportunity {
        max-width: fit-content;
    }

}