@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MENU */
header {
    background-color: #fff;
    border-bottom: 1px solid #005f6b;
    font-weight: 600;
    font-family: "Kodchasan", sans-serif;
}

.logo{
    margin-left: -50px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-right: -90px;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #06303A;
}
.nav-link:hover {
    color: #186B8C;
}

.mobile-menu-icon{
    margin-top: 15px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* FOOTER */

footer{
   
    margin-top: 30px;
    max-height: 184px;
    width: 100%;
    background: #186B8C;
    text-align: center;
    font-family: "Kodchasan", sans-serif;
}

footer img{
    margin-top: 10px;
    margin-left: 16px;
}
footer ul{
    margin-top: 10px;
    font-size: 14px;
}

footer li {
    display: inline-block;
    margin-left: 15px;
}
footer a {
    text-decoration: none;
    color: #fff;
}

#copyright img{
    margin: 0;
}

#copyright p{
    display: inline-block;
    color: #B7B4BF;
    font-size: 14px;
}
#copyright{
    margin-top: 10px;
}

@media screen and (max-width:965px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

        justify-content: center;
        align-items: center;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .nav-link{
        font-size: 1.15rem;
    }
    .mobile-menu .nav-item {
        margin: 0 15px;
        width: 100%;
    }
    .mobile-menu .perfil {
        display: block;
        width: 20%;
        margin-top: 20px;
        margin-left: 70px;
    }
    .mobile-menu .perfil p{
        margin-top: -50px;
        font-size: 20px;
    }
    .mobile-menu #linha{
        margin: auto;
        margin-top: 30px;
        width: 90%;
        height: 5px;
        background-color: #0187a7;
    }
    .open {
        display: block;
    }

}
@media (max-width: 600px) {
    footer ul{
        font-size: 10px;
    }
}
